@charset "UTF-8";

/*
Paleta de cores
Vermelho: #E1523D
Azul: #0066FF
*/

@font-face {
    font-family: Mermaid;
    src: url(../fontes/Mermaid.ttf) format('opentype');
}

@font-face {
    font-family: Louis;
    src: url(../fontes/Louis.ttf) format('truetype');
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

hr {
    align-items: center;
    border: none;
    height: 1px;
    background-color: #E1523D;
    margin-bottom: 5px;
}

a > picture > img {
    text-align: center;
}

img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h2, h3, h4 {
    font-family: Mermaid;
    color: #E1523D;
    font-size: 1.5em;
    margin: 8px;
}

a {
    text-decoration: none; 
    cursor: pointer;  
}

a > h2:hover, a > h3:hover {
    color: #0066FF;
}

a > p {
    font-family: Louis;
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}

a > p:hover {
    color: #0066FF;
    text-decoration: underline;
}

p, li {
    font-family: Louis;
    font-size: 1.1em;
}

ul {
    list-style-position: inside;
}

p.veja-tambem {
    font-family: Mermaid;
    color: #E1523D;
    font-size: 1.2em;
}

p.veja-tambem > a {
    color: black;
    text-decoration: underline;
}

p.veja-tambem > a:hover {
    text-decoration: underline;
    color: #0066FF;
}

footer {
    width: 90wv;
    background-color: white;
    font-family: Louis;
    text-align: center;
    padding: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(102, 101, 101, 0.24);
}

footer > p > a {
    color: #E1523D;
    font-weight: bold;
}

footer > p > a:hover {
    color: #0066FF;
}