@charset "UTF-8";

/*
Paleta de cores
Vermelho: #E1523D
Azul: #0066FF
*/

h2 {
    font-size: 1.8em;
    margin: 8px;
    padding: 8px;
}

p {
    padding: 5px;
    font-family: Louis;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Mermaid;
    font-size: 1.2em;
    color: #E1523D;
}

input, select, textarea {
    text-align: center;
    font-size: 0.9em;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.349);
}

select {
    padding: 0;
    height: 30px;
}

input[type=file] {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

p#botoes {
    margin-top: 20px;
}

input[type=submit], input[type=reset] {
    width: 80%;
    background-color: #E1523D;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: #e1533d50;
    color: #E1523D;
    font-weight: bold;
}


/* Estilização para telas maiores*/

@media (min-width: 768px) {

    main > div {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    } 

    main > div > picture {
        text-align: center;
        margin-bottom: 20px;
    }

    main > div > picture > img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    main > div > h2 {
        font-size: 2em;
        text-align: center;
        margin: 15px 0;
    }

    main > div > p {
        font-size: 1.2em;
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 10px;
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    form > p {
        margin-bottom: 15px;
    }

    input, select, textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
    }

    label {
        font-size: 1.6em;
    }

    input[type=file] {
        display: block;
        margin: 0 auto;
    }

    p#botoes {
        text-align: center;
    }

    input[type=submit], input[type=reset] {
        width: 45%;
        margin: 5px; 
    }
}

@media (min-width: 1024px) {

    main > div {
        max-width: 1000px;
        padding: 40px;
    }

    main > div > picture > img {
        max-width: ;
    }
}






