@charset "UTF-8";

/*
Paleta de cores
Vermelho: #E1523D
Azul: #2EDB8C
*/

@font-face {
    font-family: Bohemian;
    src: url(../fontes/Bohemian.otf) format('opentype');
}

@font-face {
    font-family: Louis;
    src: url(../fontes/Louis.ttf) format('truetype');
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
}

header {
    padding: 10px;
    background-color: white;
}

main {
    position: relative;
    width: 90vw;
    margin: auto;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}


nav > div.menu {
    position: relative;
    display: inline-block;
}

nav > div.menu > button#menu-btn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

nav > div.menu > button#menu-btn:hover {
    color: #2EDB8C;
}

nav > div.menu > ul#menu-list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.596);
}

ul#menu-list > li {
    list-style: none;
}

ul#menu-list > li > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

ul#menu-list > li > a:hover {
    background-color: white;
    color: #2EDB8C;
}

div.menu:hover ul#menu-list {
    display: block;
}

nav > h1#site-nome {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}

nav > h1#site-nome > a {
    font-family: Bohemian;
    text-decoration: none;
    color: #E1523D;
}

nav > div#login-icon > a > span {
    width: 24px;
    height: 24px;
    color: black;
}

div#login-icon > a > span:hover {
    color: #2EDB8C;
}


footer {
    background-color: white;
    font-family: Louis;
    text-align: center;
    margin: 20px;
}

footer > p > a {
    color: #E1523D;
    font-weight: bold;
}

footer > p > a:hover {
    color: #2EDB8C;
}